Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/TestingGroundPack/IndustryPropsPack4/Textures/Container_D.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/Canister_SRM.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/Canister_N.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/Canister_D.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/Box_SRM.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/Box_N.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/Box_D.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/BaseTextures/base_gray_d.uasset
Content/TestingGroundPack/GrassPack/Materials/grass2.uasset
Content/TestingGroundPack/GrassPack/Materials/grass.uasset
Content/TestingGroundPack/GrassPack/Materials/Ground.uasset
Content/TestingGroundPack/GrassPack/Materials/BaseMaterial/bese_material.uasset
Content/TestingGroundPack/GrassPack/Materials/BaseMaterial/Flora_twoSides.uasset
Content/TestingGroundPack/RockPackProV1/Rock17/Rock17_Material.uasset
Content/TestingGroundPack/RockPackProV1/Rock17/Rock17_High.uasset
Content/TestingGroundPack/RockPackProV1/Rock05/Textures/Rock05_Occlusion.uasset
Content/TestingGroundPack/RockPackProV1/Rock05/Textures/Rock05_Normals.uasset
Content/TestingGroundPack/RockPackProV1/Rock05/Textures/Rock05_Albedo.uasset
Content/TestingGroundPack/RockPackProV1/Rock05/Rock05_Material.uasset
Content/TestingGroundPack/RockPackProV1/Rock05/Rock05_High.uasset
Content/TestingGroundPack/RockPackProV1/Rock01/Textures/Rock01_Occlusion.uasset
Content/TestingGroundPack/RockPackProV1/Rock01/Textures/Rock01_Normals.uasset
Content/TestingGroundPack/GrassPack/Textures/Grass2_N.uasset
Content/TestingGroundPack/GrassPack/Textures/Grass2_D.uasset
Content/TestingGroundPack/GrassPack/Textures/BaseTextures/base_gray_d.uasset
Content/TestingGroundPack/GrassPack/Textures/BaseTextures/base_flat_n.uasset
Content/TestingGroundPack/GrassPack/Textures/BaseTextures/Mask1.uasset
Content/TestingGroundPack/GrassPack/Meshes/grass05.uasset
Content/TestingGroundPack/GrassPack/Meshes/grass02.uasset
Content/TestingGroundPack/GrassPack/Meshes/grass01.uasset
Content/TestingGroundPack/GrassPack/Materials/grass5.uasset
Content/TestingGroundPack/RockPackProV1/Rock01/Textures/Rock01_Albedo.uasset
Content/TestingGroundPack/RockPackProV1/Rock01/Rock01_Material.uasset
Content/TestingGroundPack/RockPackProV1/Rock01/Rock01_High.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/TrashCan_SRM.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/TrashCan_N.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/TrashCan_D.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/Dirt2_N.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/Container_SRM.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/Container_N.uasset
Content/TestingGroundPack/IndustryPropsPack4/Materials/Canister.uasset
Content/TestingGroundPack/IndustryPropsPack4/Materials/Box.uasset
Content/TestingGroundPack/IndustryPropsPack4/Materials/BaseMaterial/bese_material.uasset
Content/TestingGroundPack/GrassPack/Textures/Ground_N.uasset
Content/TestingGroundPack/GrassPack/Textures/Ground_D.uasset
Content/TestingGroundPack/GrassPack/Textures/Grass_N.uasset
Content/TestingGroundPack/GrassPack/Textures/Grass_D.uasset
Content/TestingGroundPack/GrassPack/Textures/Grass5_N.uasset
Content/TestingGroundPack/GrassPack/Textures/Grass5_D.uasset
Content/TestingGroundPack/RockPackProV1/Textures/RockDetail/Rocks_DetailAlbedo.uasset
Content/TestingGroundPack/RockPackProV1/Rock17/Textures/Rock17_Occlusion.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/BaseTextures/base_black_d.uasset
Content/TestingGroundPack/IndustryPropsPack4/Meshes/Sack1.uasset
Content/TestingGroundPack/IndustryPropsPack4/Meshes/ContainerDoorR.uasset
Content/TestingGroundPack/IndustryPropsPack4/Meshes/ContainerDoorL.uasset
Content/TestingGroundPack/IndustryPropsPack4/Meshes/Container.uasset
Content/TestingGroundPack/IndustryPropsPack4/Meshes/Canister1.uasset
Content/TestingGroundPack/IndustryPropsPack4/Meshes/Box2.uasset
Content/TestingGroundPack/IndustryPropsPack4/Materials/TrashCan.uasset
Content/TestingGroundPack/IndustryPropsPack4/Materials/Container.uasset
Content/TestingGroundPack/RockPackProV1/Rock17/Textures/Rock17_Normals.uasset
Content/TestingGroundPack/RockPackProV1/Rock17/Textures/Rock17_Albedo.uasset
Content/TestingGroundPack/IndustryPropsPack4/Textures/BaseTextures/base_flat_n.uasset
